.sidebar {
    display: flex;
    justify-content: flex-start;
}

.documentation-wrapper {
    display: flex;
    overflow: auto;
    margin: 0 auto;
}

.documentation {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 800px;
    min-width: 0;
}

#documentation-section {
    width: 100%;
    text-align: center;
}

.section {
    font-size: 20px;
    padding: 20px;
}

.section:hover {
    background-color: #3e5072 !important;
    color: #98d6e8;
    transition: all 150ms linear;
}

.documentation-link {
    text-decoration: none;
    color: white;
}
