.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: fadeIn 800ms ease-in-out 1s both;
    cursor: pointer;
}

.scroll-up {
    padding: 0 10px;
    color: white;
    background-color: #536b98;
    border-radius: 10px;
    font-size: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}