.markdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.markdown p {
    padding: 5px 0;
}

.markdown code {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
}

.markdown ul {
    margin-left: 20px;
}

.markdown li {
    padding: 3px 0;
}

.markdown li a {
    color: #58a6ff
}

.markdown a {
    text-decoration: none;
    color: #58a6ff
}

.markdown h1, .markdown h2, .markdown h3 {
    padding: 10px 0;
}

.markdown img {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}