.main-content {
    display: flex;
    overflow: auto;
    margin: auto;
}

#sorting-visualizer {
    display: flex;
    align-items: flex-end;
    margin: 50px;
}

.array-bar {
    display: flex;
    width: 3px;
    margin: 0 1px;
}
