.main-content {
    display: flex;
    overflow: auto;
    margin: auto;
}

#sorting-visualizer {
    display: flex;
    align-items: flex-end;
    margin: 50px;
}

.array-bar {
    display: flex;
    width: 3px;
    margin: 0 1px;
}

.current-option {
    overflow: hidden;
    text-align: center;
}

.selection-dropdown {
    display: flex;
    justify-content: space-between;
    background-color: #33435d;
    padding: 0 5px;
    cursor: pointer;
}

.selection-options {
    display: none;
    position: relative;
    margin: 0;
    animation: growDown 250ms ease-in-out forwards;
}

.selection-options ul {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: -67px;
    overflow-y: scroll;
    background-color: #33435d;
}

/* width */
.selection-options ul::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
.selection-options ul::-webkit-scrollbar-thumb {
    background: #fff;
}

.selection-options ul div {
    cursor: pointer;
}

.selection-options ul div:hover{
    background-color: #3e5072;
    transition: all 150ms linear;
}
